## Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Dd]ebug*/
[Rr]elease*/

## Visual Studio cache
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml

## Logs and coverage
*.log
*.binlog
*.coverage
*.coveragexml
*.opencover.xml
coverage*.json
coverage*.xml
CodeCoverage/

## Others
~$*
*~
